html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Roboto Light","Arial";
    /* Somehow scrollbars appear when rendering full screen. For now set overflow hidden. */
    overflow: hidden;
}

#canvas {
    background-color: black;
    left: 0px;
    top: 0px;
    width: 800px;
    height: 600px;
    position: absolute;
}

#progressWindowOuterContainer {
    position: fixed;
    overflow: visible;
    width: 100%;
    height: 0px;
    margin: 0;
    padding: 0;
}

#progressWindow {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 130px;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    border: 1px solid #cccccc;
    padding: 10px;
}

#progressWindowHeader {
    width: 100%;
    margin-bottom: 10px;
}

#progressBar {
    width: 100%;
    height: 16px;
    background-color: #aaaaaa;
    border: 1px solid #666666;
    overflow: hidden;
    margin-bottom: 10px;
}

#progressBarPercentage {
    width: 0%;
    height: 14px;
    background-color: #00ee00;
    overflow: hidden;
}

#progressLogPanel {
    width: 100%;
    height: 50px;
    border: 1px solid #666666;
    overflow: auto;
    padding: 5px;
    font-size: 12px;
}